body {
    margin: 0;
    padding: 0;
    font-family: "Jacquard 24";
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://i.pinimg.com/236x/a8/d8/aa/a8d8aa269291718d2d88003665c348d3.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative; /* Ensure content is above background */
    z-index: 1;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.profile-pic {
    border-radius: 50%; /* Round image more consistently */
    width: 5px; /* Set a specific width */
    height: 5px; /* Set a specific height */
    max-width: 25vw; /* Responsive max width based on viewport width */
    max-height: 25vw; /* Responsive max height based on viewport width */
    object-fit: cover; /* Ensure image covers area without distortion */
}

.name {
    font-size: 3em; /* Adjusted font size */
    color: #ffffff;
    margin-top: 0;
}

.social-links a {
    margin: 0 1.5%; /* Margin between social links */
}
